@import "header.scss";
@import "collage.scss";


@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Ligth.woff") format("woff"), url("../fonts/Montserrat-Ligth.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@mixin Montserrat300Google{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
@mixin Montserrat700Google{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

body{
  font-family: Montserrat;
  font-weight: 300;
}

*,*::before,*::after{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}
li{
  list-style: none;
}
.main-top{
  max-width: 1440px;
  height: 744px;
  background: url("../images/main-top-back.webp");
  .main-top__content{
    position: relative;
    top: 279px;
    left: 263px;
    h1{
      font-weight: 700;
      font-size: 56px;
      line-height: 68px;
      color: #FFFFFF;
    }
    .main-top__desc{
      position: relative;
      top: 33px;
      left: 17px;
      font-weight: 700;
      font-size: 10px;
      line-height: 12px;
      text-align: right;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      color: #FFFFFF;
      &:before{
        content: " ";
        position: absolute;
        width: 8px;
        height: 1px;
        left: -16px;
        top: 6px;
        background: rgba(255, 255, 255, 0.4);
      }
      &:after{
        content: " ";
        position: absolute;
        width: 56px;
        height: 1px;
        left: 114px;
        top: 6px;
        background: rgba(255, 255, 255, 0.4);
      }
    }
    .slider-btns{
      position: absolute;
      display: flex;
      align-items: center;
      left: 748px;
      top: 175px;
      font-weight: 300;
      font-size: 11px;
      line-height: 13px;
      letter-spacing: 0.06em;
      color: #FFFFFF;
      &:before, &:after{
        content: " ";
        position: absolute;
        width: 6px;
        height: 8px;


      }
      &:before{
        left: -17px;
        top: 1px;
        background: url("../images/main-top-arrowleft.svg");
      }
      &:after{
        right: -21px;
        top: 0px;
        background: url("../images/main-top-arrowright.svg");
      }
      span{
        opacity: 0.7;
      }
      .line-active{
        width: 89.91px;
        height: 1px;
        background: #FFFFFF;
        margin-left: 15px;

      }
      .line{
        width: 94.91px;
        height: 1px;
        background: #FFFFFF;
        opacity: 0.32;
        margin-right: 14px;

      }
    }
  }
  .main-top__bottom{
    position: absolute;
    bottom: 53px;
    left: 64px;
    display: flex;
    align-items: center;
    gap: 31px;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    .socials{
      display: flex;
      gap: 16px;
    }
    .select{
      width: 117px;
      height: 24px;
      line-height: 24px;
      margin-left: 91px;
      padding-left: 30px;
      background: rgba(255, 255, 255, 0.5);
      box-shadow: 0px 1.15336px 1.22544px rgba(0, 0, 0, 0.2), inset 0px -0.288339px 0.0720847px rgba(255, 255, 255, 0.23);
      backdrop-filter: blur(1px);
      border-radius: 8.70783px;

      &:before{
        content: " ";
        position: absolute;
        width: 7px;
        height: 10px;
        margin-left: -17px;
        margin-top: 7px;
        background: url("../images/loc-icon.svg");
      }
      &:after{
        content: " ";
        position: absolute;
        width: 9px;
        height: 6px;
        margin-top: 10px;
        margin-left: 28px;
        background: url("../images/berlin-arrow.svg");
      }
    }
    .phone{
      margin-left: 41px;
    }

  }
}
.main-second{
  position: relative;
  background: #FAFAFA;
  height: 1358px;
  .main-second__top{
    width: 515px;
    margin-left: 197px;
    padding-top: 220px;
    h2{
      font-weight: 700;
      font-size: 36px;
      line-height: 44px
    }
    p{
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      font-size: 14px;
      line-height: 24px;
      color: #080808;
      opacity: 0.7;
    }
    .desc-first{
      margin-top: 25px;
    }
    .desc-second{
      margin-top: 13px;
    }
    .main-second__discover{
      position: relative;
      display: inline-block;
      margin-top: 56px;
      margin-left: 17px;
      font-weight: 700;
      font-size: 10px;
      line-height: 12px;
      text-align: right;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      color: #000000;
      &:before{
        content: " ";
        position: absolute;
        width: 8px;
        height: 1px;
        left: -16px;
        top: 6px;
        background: rgba(49, 49, 49, 0.2);
      }
      &:after{
        content: " ";
        position: absolute;
        width: 56px;
        height: 1px;
        left: 114px;
        top: 6px;
        background: rgba(49, 49, 49, 0.2);
      }
    }
  }
  .main-second__bottom{
    position: relative;
    left: 845px;
    top: 411px;
    width: 380px;
    font-size: 20px;
    line-height: 170.66%;
    color: #080808;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    opacity: 0.7;
    &:before{
      top: 10px;
      left: -49px;
      content: " ";
      position: absolute;
      width: 16px;
      height: 13px;
      background: url("../images/main-second-quotes.svg");
    }
  }
  .img-first{
    position: absolute;
    width: 316px;
    height: 393px;
    left: 197px;
    top: 825px;
    background: url("../images/main-second-img1.png");
  }
  .img-second{
    position: absolute;
    width: 279px;
    height: 172px;
    left: 433px;
    top: 700px;
    z-index: 1;
    background: url("../images/main-second-img2.png");

  }
  .img-third{
    position: absolute;
    width: 513px;
    height: 607px;
    left: 927px;
    top: 140px;
    background: url("../images/main-second-img3.png");

  }
}
.main-third{
  background: #000000;
  .main-third__top{
    padding-top: 140px;
    width: 450px;
    margin: 0 auto;
    text-align: center;
    h2{

      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
      color: #FFFFFF;
    }
    p{
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      color: #828282;
      margin-top: 31px;
      margin-bottom: 132px;
    }
  }
  .main-third__content{
    width: 1314px;
    margin: 0 auto;
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 107px;

    .item3{
      grid-column-start: 1;
      grid-column-end: 3;
      margin-top: -4px;
      margin-bottom: -4px;
    }
    .item5{
      background: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: center;
      div{
        margin-top: -52px;
      }
      h3{
        @include Montserrat700Google;
        text-align: center;
        font-size: 22px;
        line-height: 28px;
        color: #080808;
        margin-bottom: 26px;
      }
    }
  }
}